.section-container2 {
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background-color: #F6F4EE;
}
.paragraph-text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 15px 70px;
}
.para-text{
    font-weight: 600px;
    font-size: 28px;
}
.p-color {
    color: #2146b4;
}
.image-container {
    display: inline-flex;
    align-items: center;
    align-self: center;
    align-content: space-between;
}
img{
    padding: 10px ;
}