.section-container7{
    height: 700px;
    width: 100%;
    margin-top: 100px;

    padding: 0% 5%;
}
.header-text{
    font-size: 50px;
    font-weight: 680;
    text-align: center;
    width: 90%;
    
}
.para-text5{
    text-align: center;
    margin-top: -50px;
    font-size: 33px;
    font-weight: 350;
    width: 90%;
}
.container7-section1{
    display: inline-flex;
    margin-top: 50px;
    

}
.section1-div{
    width: 20%;
    margin-right:60px ;
}
.name{
    color: #382D8b;
    font-weight: 500;
    font-size : 25px
}
.description{
    font-weight: bold;
    padding-top: 15px;
    height: 50px;
}
.location{
    margin-bottom: 5px;

}
.line{
    width: 85px;
    height: 2px;
    position: relative;
    left: 110px;
    background-color: #2A73CC;
    border-radius: 2px;
    margin:20px 0;
}