.section-container3{
    margin-top: 0px;
    margin-bottom: 50px;
    height: 400px;
    width: 100%;
    padding: 50px 20px;
    background-color: white;
}
.path{
    display: inline-flex;
    justify-content: center;
    align-self: center;
    padding: 15px 300px;
    
}
.image1,.image2,.image3,.image4{
    justify-content: center;
    padding: 10px 30px ;
}
.text1{
    font-weight: 600;
    margin-bottom: 30PX;
    font-size: large;
    height: 60px;
}
.text2{
    font-size: large;
    font-weight: 400;
}
.tag{
    width: 20%;
    margin-right: 50px;
    text-align: center;
}